.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.prompt-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: rgb(237, 237, 237);
  min-height: 250px;
  margin: auto;
  width: 20%;
  z-index: 2;
  opacity: 0.95;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  border: 0.2px solid gray;
  border-radius: 1.2px;
}

.form-class {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-class input,
label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.5rem;
}
.submit-btn{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-class button{
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 600px) {
  .prompt-window {
    width: 60%; /* Adjust width for smaller screens */
  }
}
